.payment-method:hover:not(.active) {
  background: #ebebeb42;
  outline: 1px solid var(--main-color)
}
.expiration {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--main-color);
  text-transform: uppercase
}
.quota {
  color: var(--main-color) !important;
  font-size: 29px;
  font-weight: bolder;
  padding: 10px 0;
  text-transform: uppercas
}
.discount {
  text-decoration: line-through;
  text-decoration: line-through !important;
  color: var(--pink) !important
}
.price {
  color: var(--main-color) !important;
  font-size: 18px !important;
  padding-bottom: 6px !important
}
.stat2,
.conso2 {
  border-radius: 25px !important;
  border: none;
  margin: 4px 0px;
  background-color: white;
  border-radius: 25px !important;
  border: 1px solid #F7F7F7;
  padding: 20px
}

.uppercase {
  text-transform: uppercase !important
}
.flex-col {
  flex-direction: column
}
.align-center {
  align-items: center
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed
}

