<div class="row align-items-md-stretch">
  <div class="h-100 p-2">
    <h2>Pour acheter un forfait, merci de choisir une ligne de la liste</h2>
    <form>
      <select class="form-select">
        <option [ngValue]="null" disabled>Choisir une ligne</option>
        <option ngValue="phone">Name 1</option>
        <option ngValue="phone">Name 2</option>
        <option ngValue="phone">Name 3</option>
      </select>
    </form>
  </div>
</div>
<div class="h-100 p-2 bg-dark rounded-3">
  <div class="row text-white">
    <div class="col-md-3">
      <h4 class="fw-bold m-0">Porteur</h4>
      name_
    </div>
    <div class="col-md-3">
      <h4 class="fw-bold m-0">Numéro</h4>
      number_
    </div>
    <div class="col-md-3">
      <h4 class="fw-bold m-0">Type de ligne</h4>
      product_
    </div>
    <div class="col-md-3">
      <h4 class="fw-bold m-0">Rateplan de la ligne</h4>
      Rateplan_
    </div>
  </div>
</div>
<div class="d-flex justify-content-end pt-2">
  <button class="btn btn-primary " [disabled]="false">Poursuivre </button>
</div>
